{% extends "front/base.html" %}

{% load static %}
{% block top_slide %}

		<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
			<div class="col-md-12 px-0">
				<h1 class="display-4 font-italic">Wellness Route</h1>
				<p class="lead my-3">แนะนำเส้นทางการท่องเที่ยวร้านอาหาร สปา สนามกีฬา และกิจกรรมที่ได้รับมาตรฐานการรับรองความปลอดภัย Amazing Thailand Safety & Health Administration (SHA) เพื่อสร้างความมั่นใจแก่นักท่องเที่ยวว่าทุกคนจะได้รับประสบการณ์ที่ดี มีความสุข และความปลอดภัยด้านสุขอนามัยจากการเข้ารับบริการและเลือกซื้อสินค้าในประเทศไทย</p>
				<!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-6">
				<div class="place-cat-icon">
					<i class="fas fa-spa fa-3x"></i>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-6">
				<div class="place-cat-icon">
					<i class="fas fa-praying-hands fa-3x"></i>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-6">
				<div class="place-cat-icon">
					<i class="fas fa-utensils fa-4x"></i>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-6">
				<div class="place-cat-icon">
					<i class="fas fa-running fa-4x"></i>
				</div>
			</div>
		</div>	
		<div class="pt-20 pb-20"></div>	
		<div class="row mb-2">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-5">
						<img src="{% static "front/images/image-001.jpg" %}" class="card-img-right flex-auto d-none d-md-block">
					</div>
					<div class="col-md-7"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
					<img src="{% static "front/images/image-001.jpg" %}" class="card-img-right flex-auto d-none d-md-block">
					<div class="card-body d-flex flex-column align-items-start">
						<strong class="d-inline-block mb-2 text-primary">World</strong>
						<h3 class="mb-0">
							<a class="text-dark" href="#">Featured post</a>
						</h3>
						<div class="mb-1 text-muted">Nov 12</div>
						<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
						<a href="#">Continue reading</a>
					</div>
					
				</div>
			</div>
			<div class="col-md-6">
				<div class="card flex-md-row mb-4 box-shadow h-md-250">
					<div class="card-body d-flex flex-column align-items-start">
						<strong class="d-inline-block mb-2 text-success">Design</strong>
						<h3 class="mb-0">
							<a class="text-dark" href="#">Post title</a>
						</h3>
						<div class="mb-1 text-muted">Nov 11</div>
						<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
						<a href="#">Continue reading</a>
					</div>
					<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
				</div>
			</div>
		</div>
{% endblock %}
{% block content %}

      <div class="row">
      </div><!-- /.row -->
{% endblock %}
